@utility heading-1 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 2.986rem; /* 48pt mobile */

  @media (width >= 48rem) {
    font-size: 2.986rem;
  }
}

@utility heading-2 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 2.488rem; /* 40pt mobile */

  @media (width >= 48rem) {
    font-size: 2.488rem; /* 60pt desktop */
  }
}

@utility heading-3 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 2.074rem; /* 32pt mobile */

  @media (width >= 48rem) {
    font-size: 2.074rem; /* 48pt desktop */
  }
}

@utility heading-4 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1.728rem; /* 28pt mobile */

  @media (width >= 48rem) {
    font-size: 1.728rem; /* 36pt desktop */
  }
}

@utility heading-5 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1.44rem; /* 24pt mobile */

  @media (width >= 48rem) {
    font-size: 1.44rem; /* 28pt desktop */
  }
}

@utility heading-6 {
  font-family: var(--font-sans);
  font-weight: 700;
  font-size: 1.2rem; /* 20pt mobile */

  @media (width >= 48rem) {
    font-size: 1.2rem; /* 24pt desktop */
  }
}

@utility paragraph-lg {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 1.2rem; /* 24pt mobile */

  @media (width >= 48rem) {
    font-size: 1.2rem; /* 24pt desktop */
  }
}

@utility paragraph-md {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 1rem; /* 20pt mobile */

  @media (width >= 48rem) {
    font-size: 1rem; /* 24pt desktop */
  }
}

@utility paragraph-sm {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 0.833rem; /* 18pt mobile */

  @media (width >= 48rem) {
    font-size: 0.833rem; /* 20pt desktop */
  }
}

@utility paragraph-xs {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: 0.694rem; /* 18pt mobile */

  @media (width >= 48rem) {
    font-size: 0.694rem; /* 20pt desktop */
  }
}