---
const images: string[] = [
   "/images/banner-zones-promo.webp",
   "/images/banner-zones-promo.webp",
   "/images/banner-zones-promo.webp",
   "/images/banner-zones-promo.webp",
];

const { zona } = Astro.props;
---

<link rel="preload" as="image" href="/images/banner-zones-promo.webp" />

<section class="relative">
   <div class="absolute inset-0 bg-black/40"></div>
   <div
      class="h-[850px] bg-center bg-cover flex flex-col items-center justify-center"
      style={`background-image: url(${zona})`}
   >
      <div
         class="swiper chooseme-swiper w-full max-w-[1200px] absolute top-20 mt-20"
      >
         <div class="swiper-wrapper">
            {
               images.map((image, index) => (
                  <div class="swiper-slide">
                     <img
                        src={image}
                        alt="Carousel de promociones"
                        class="object-cover w-full h-full"
                     />
                  </div>
               ))
            }
         </div>

         <div class="swiper-pagination mt-6"></div>
         <div class="swiper-button-prev !text-line"></div>
         <div class="swiper-button-next !text-line"></div>
      </div>
      <div
         class="text-center rounded-3xl w-[90%] md:w-4xl py-6 -rotate-2 mt-40"
      >
         <h1 class="text-3xl md:text-5xl font-bold">
            ¡Descubre nuestras<br />
            <span
               class="text-4xl md:text-6xl text-[#00DEE9] text-shadow-md text-shadow-[#00DEE9]"
            >
               INCREÍBLES PROMOCIONES!
            </span>
         </h1>
      </div>
   </div>
</section>
<script>
   import Swiper from "swiper";
   import { Navigation, Pagination } from "swiper/modules";
   import "swiper/css";
   import "swiper/css/navigation";
   import "swiper/css/pagination";

   const swiper = new Swiper(".chooseme-swiper", {
      modules: [Navigation, Pagination],
      grabCursor: true,
      loop: true,
      centeredSlides: false,
      spaceBetween: 20,
      autoHeight: false,
      breakpoints: {
         0: { slidesPerView: 1 },
         768: { slidesPerView: 2 },
         1024: { slidesPerView: 3 },
      },
      pagination: {
         el: ".swiper-pagination",
         clickable: true,
         dynamicBullets: true,
      },
      navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
      },
   });
</script>
<style>
   .chooseme-swiper .swiper-slide {
      align-items: center;
      justify-content: center;
   }

   .chooseme-swiper .swiper-button-prev,
   .chooseme-swiper .swiper-button-next {
      --swiper-navigation-size: 50px; /* Tamaño */
   }
</style>
