---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
  <section class="relative h-[550px] lg:h-[950px] border-b-8 border-b-line overflow-hidden">
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat"
      style="background-image: url('/images/banner-website-enlaces.webp');"
    >
      <div class="absolute inset-0 bg-black/60"></div>
    </div>

    <div class="relative z-10 flex items-center justify-center h-full">
      <div class="text-center -rotate-3 px-4">
        <h1 class="text-4xl md:text-7xl font-bold text-white">
          Creciendo junto a la
        </h1>
        <h1
          class="text-5xl md:text-9xl text-[#00DEE9] drop-shadow-[0_4px_6px_#00DEE9] font-extrabold"
        >
          RIVIERA MAYA
        </h1>
      </div>
    </div>
  </section>

  <section class="mt-10 lg:mt-30 relative">
    <div>
    <div class=" place-items-center space-y-10 lg:space-y-40 relative z-10 h-[650px] lg:h-[1180px]">
      <h1 class="text-center text-5xl lg:text-9xl -rotate-3 font-bold ">Nuestra Historia</h1>
      <p class=" text-base md:text-xl lg:text-2xl text-center w-full max-w-5xl px-5">
        En marzo de 2015, nació Enlaces Playa con el propósito de atender una
        necesidad creciente en Playa del Carmen: muchas familias no contaban con
        un servicio de internet confiable en sus hogares. Inspirados por la idea
        de brindar una solución accesible y de calidad, comenzamos a distribuir
        internet bajo la concesión y permiso del Instituto Federal de
        Telecomunicaciones (IFT).Hoy, en Enlaces Playa, hemos formado un equipo
        de profesionales en tecnologías y telecomunicaciones, comprometidos en
        ofrecer un servicio de internet de alto rendimiento para la comunidad.
        Además, proporcionamos soluciones tecnológicas para hogares y negocios,
        siempre enfocados en garantizar una experiencia de conexión rápida,
        estable y accesible para todos nuestros clientes.
      </p>
    </div>
    <img
      src="/images/persona-caminando.webp"
      alt="Persona Caminando en la Playa"
      class="object-cover absolute bottom-0 z-0"
    />
    </div>
  </section>
</Layout>
