---
import Ubication from "../components/contactanos/ubication.astro";
import Layout from "../layouts/Layout.astro";
import HeaderContact from "../components/contactanos/headerContac.astro";
import Form from "../components/contactanos/form.astro";
---

<Layout title="Contacto">
  <div class="bg-[#1E4660]">
  <HeaderContact />
  <Ubication />
  <Form/>
  </div>
</Layout>
