---
import Layout from "../layouts/Layout.astro";
import Header from "../components/home/header.astro";
import Ourcobertory from "../components/home/Ourcobertory.astro";
import CallToAction from "../components/home/callToAction.astro";
import Testimonio from "../components/home/Testimonio.astro";
import Companies from "../components/home/companies.astro";
---

<Layout title="Inicio">
  <div class="relative overflow-hidden">
    <Header />
    <Ourcobertory />
    <CallToAction />
    <Testimonio />
    <Companies />
    <img
      src="/images/fondo-enlaces.webp"
      alt="Figura Enlaces"
      class="w-4xl lg:w-7xl absolute top-80 md:top-[15%] -right-40 lg:-right-90"
    />
    <img
      src="/images/fondo-enlaces.webp"
      alt="Figura Enlaces"
      class="w-4xl lg:w-7xl absolute top-[35%] -left-40 lg:-left-80"
    />
    <img
      src="/images/fondo-enlaces.webp"
      alt="Figura Enlaces"
      class="w-4xl lg:w-7xl absolute top-7/12 -right-50 lg:-right-90"
    />
    <img
      src="/images/fondo-enlaces.webp"
      alt="Figura Enlaces"
      class="w-4xl lg:w-7xl absolute -bottom-30 md:-bottom-80 -left-50 lg:-left-90"
    />
  </div>
</Layout>
