---
import Layout from "../layouts/Layout.astro";
import Header from "../components/home/header.astro";
import Ourcobertory from "../components/home/Ourcobertory.astro";
import CallToAction from "../components/home/callToAction.astro";
import Testimonio from "../components/home/Testimonio.astro";
import Companies from "../components/home/companies.astro";
import Payment from "../components/home/payment.astro";
---

<Layout title="Inicio">
  <div class="relative overflow-hidden">
    <Header />
    <Ourcobertory />
    <CallToAction />
    <Payment/>
    <Testimonio />
    <Companies />
  </div>
</Layout>
