---
import Title from "../Title.astro";
import ButtonCTA from "../buttonCTA.astro";
---

<section
  class="relative w-full h-auto min-h-[500px] lg:min-h-[900px] overflow-hidden bg-gradient-to-t from-[#060E16] to-primary border-b-8 border-b-line"
>
  <div class="text-center pt-10 lg:pt-20 relative">
    <Title title="¡Internet de alta velocidad" subtitle="PARA TODOS!" />
  </div>
  <img
    src="/images/persona-feliz-enlaces.webp"
    alt="Persona Feliz Enlaces"
    class="absolute bottom-0 left-1/2 transform -translate-x-1/2 lg:left-[35%] lg:translate-x-0 w-[300px] md:w-[500px] lg:w-xl z-10"
  />
  <img
    src="/images/antena-enlaces.webp"
    alt="Antena Enlaces"
    class="absolute bottom-0 left-[30%] w-[200px] md:w-[250px] lg:w-[300px] rotate-[20deg] z-0"
  />
  <img
    src="/images/modem-enlaces.webp"
    alt="Modem Enlaces"
    class="absolute top-0 left-0 w-[200px] md:w-[250px] lg:w-[300px] -rotate-[20deg] hidden lg:block"
  />
  <img
    src="/images/cable-fibra-optica.webp"
    alt="Cable Fibra Óptica Enlaces"
    class="absolute top-[30%] right-0 w-[300px] md:w-[400px] lg:w-[500px] z-5"
  />
  <div
    class="absolute top-1/3 right-[10%] z-20 hidden md:block bg-gradient-to-t from-golden1 to-golden3 rounded-4xl px-7 py-5 text-center"
  >
    <h1 class="text-4xl lg:text-7xl font-bold">FTTH</h1>
    <h2 class="text-lg lg:text-2xl">(Fibra Óptica)</h2>
  </div>

  <div
    class="absolute top-60 left-[10%] z-20 hidden md:block bg-[#3AA3A9] rounded-4xl px-6 py-4 text-center"
  >
    <h1 class="text-3xl lg:text-6xl font-bold">WISP</h1>
    <h2 class="text-base lg:text-xl">(Internet inalámbrico)</h2>
  </div>
  <div class="absolute z-10 bottom-10 left-[10%] md:left-1/2 md:transform md:-translate-x-1/2">
    <ButtonCTA subtitle="¡Conoce nuestros" title="planes de internet!" />
  </div>
</section>
