---

---

<section>
<div class="mt-10">
    <h1 class="text-3xl md:text-4xl text-center font-bold">Empresas Hermanas</h1>
</div>
<div class="lg:flex place-items-center justify-center my-5 mx-12 ">
    <img src="/images/logo-meguz.webp" alt="Logo Meguz" class="w-40 ">
    <img src="/images/logo-munyaal.webp" alt="Logo Munyaal " class=" my-10 lg:mx-20 w-40 ">
    <img src="/images/logo-ilogs.webp" alt="Logo Ilogs"  class="w-30">
</div>
</section>