---

---

<section>
<div>
    <h1 class="text-5xl md:text-6xl text-center font-bold">Empresas Hermanas</h1>
</div>
<div class="lg:flex place-items-center justify-center my-10 lg:mt-20 mx-12 ">
    <img src="/images/logo-meguz.webp" alt="Logo Meguz" class="w-50 md:w-80 lg:w-96">
    <img src="/images/logo-munyaal.webp" alt="Logo Munyaal " class=" my-10 lg:mx-20 w-50 lg:w-96 md:w-80">
    <img src="/images/logo-ilogs.webp" alt="Logo Ilogs"  class="w-40 md:w-60 lg:w-75">
</div>
</section>