---
import ButtonCTA from "../buttonCTA.astro"
---



<header class="">
  <div class="pt-20 lg:pt-0 relative z-10">
    <img src="/images/banner-website-enlaces.jpg" alt="Banner Enlaces Website" class="mask-b-from-40% mask-b-to-90% object-cover max-w-screen w-full">
  </div>
  <div
    class="flex flex-col justify-center items-center absolute z-10 top-30 md:top-45 lg:top-80 left-5 lg:left-45"
  >
    <h1 class="text-xl lg:text-3xl  text-light mb-5 lg:mb-10">
      El mejor <span
        class="text-3xl lg:text-6xl font-bold text-light p-1 px-5 rounded-full bg-linear-to-t from-golden1 to-golden3"
        >Internet</span
      >
    </h1>
    <h1 class="text-xl lg:text-3xl text-light mb-5 lg:mb-10">
      De la <span
        class="text-3xl lg:text-6xl font-bold text-light p-1 px-5 rounded-full bg-linear-to-t from-golden1 to-golden3"
        >Riviera Maya</span
      >
    </h1>
    <p class="text-light text-lg text-center mb-5 lg:mb-10">
      Ofrecemos cobertura tanto para clientes <br /><span
        class="font-bold text-light">residenciales</span
      > como para <span class="font-bold">pequeñas y medianas</span><br /><span
        class="font-bold">empresas</span
      > en las <span class="font-bold">principales zonas de la Riviera</span><br
      /><span class="font-bold">maya.</span> Disfruta de una <span
        class="font-bold">conexión a internet</span
      ><br /><span class="font-bold">estable rápida</span> donde más la necesitas.
    </p>
    <ButtonCTA title="¡Contrata ahora!"/>
  </div>
</header>
