---
type Props = {
  title: string;
  subtitle?: string;
};
const { title, subtitle} = Astro.props;
---
<div>
<a
  href=""
  class="flex flex-col items-center text-center rounded-full bg-gradient-to-t from-golden1 to-golden3 font-bold px-8 md:py-1 bg-[#AA681F]"
>
  <span class="text-light text-xl">{subtitle}</span>
  <span class="text-light text-2xl lg:text-3xl">{title}</span>
</a>

</div>