---
type Props = {
  title: string;
};
const { title} = Astro.props;
---
<div>
<a
      href=""
      class="text-light text-2xl lg:text-4xl rounded-full bg-linear-to-t from-golden1 to-golden3 font-bold px-4 py-2"
      >{title}</a
    >
</div>