---
import ArrowRight from "../assets/svg/arrowright.svg";
import Facebook from "../assets/svg/facebook.svg";
import Instagram from "../assets/svg/instagram.svg";
import Youtube from "../assets/svg/youtube.svg";
import Whatsapp from "../assets/svg/whatsapp.svg";
---

<footer class="bg-secondary w-full">
   <div class="flex justify-between items-center mx-10 lg:mx-30 pt-10">
      <div class="hidden sm:block">
         <img
            src="/images/logo-enlaces-blanco.webp"
            alt="Logo Enlaces Playa"
            class="w-72"
         />
      </div>
      <div>
         <h2 class="text-[#DCDCDC] text-2xl text-center font-bold font- mb-2">
            Aviso de privacidad
         </h2>
         <div class="text-center mt-2">
            <p>Calle 72 entre Av. Sian Ka'an y, Carr. Federal Mza 026,</p>
            <p>Lote 0, Ejidal, 77714 Playa del Carmen, Q.R.</p>
            <p>hola@enlacesplaya.com.mx</p>
            <p><span>Tel.</span> +52 (984)1440714</p>
         </div>
         <div class="flex gap-8 justify-center items-center my-6">
            <a
               href=""
               class="bg-secondary rounded-full flex items-center justify-center w-12 h-12"
            >
               <Facebook class="fill-light" />
            </a>
            <a
               href=""
               class="bg-light rounded-full flex items-center justify-center w-12 h-12"
            >
               <Instagram class="w-8 h-8 fill-secondary" />
            </a>
            <a
               href=""
               class="bg-light rounded-full flex items-center justify-center w-12 h-12"
            >
               <Youtube class="w-8 h-8 fill-secondary" />
            </a>
            <a
               href=""
               class="bg-light rounded-full flex items-center justify-center w-12 h-12"
            >
               <Whatsapp class="w-8 h-8 fill-secondary" />
            </a>
         </div>
      </div>
   </div>
   <div class="p-1 rounded-xl bg-line mx-8 lg:mx-28"></div>
   <div class="mx-10 lg:mx-30 py-3 lg:py-5 lg:flex lg:justify-between">
      <div class="mt-2 text-center lg:text-left">
         <h3 class="text-sm">
            copyright 2024 Enlaces Telecom - Todos los derechos reservados
         </h3>
         <h3 class="text-sm">Consulte nuestro Aviso de privacidad</h3>
      </div>
   </div>
</footer>
